body { padding-top: 60px; }
div.article { padding-top: 20px; }
div.article h2 { padding-bottom: 10px;}

div.highlight pre {
/*  background-color: #000000; */
  margin: 0 0 10px;
}

.well.small {
	padding: 6px 6px 4px;
}

.btn.xsmall {
  padding: 1px 3px 1px;
  font-size: 11px;
}

.summary * { display: inline; }
.summary pre { display: none; }

.social a[href*='activestate.com']:before {content: url('./images/icons/activestate.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='atom.xml']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='bitbucket.org']:before {content: url('./images/icons/bitbucket.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='code.google.com']:before {content: url('./images/icons/phosting.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='delicious.com']:before {content: url('./images/icons/delicious.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='digg.com']:before {content: url('./images/icons/digg.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='facebook.com']:before {content: url('./images/icons/facebook.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('./images/icons/github.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='google.com/reader']:before {content: url('./images/icons/reader.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='jamendo.com']:before {content: url('./images/icons/jamendo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='last.fm']:before, .social a[href*='lastfm.']:before {content: url('./images/icons/lastfm.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='linkedin.com']:before {content: url('./images/icons/linkedin.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss']:before {content: url('./images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('./images/icons/stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='careers.stackoverflow.com']:before {content: url('./images/icons/careers.stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='twitter.com']:before {content: url('./images/icons/twitter.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='weibo.com']:before {content: url('./images/icons/weibo.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='flickr.com']:before {content: url('./images/icons/flickr.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='tumblr.com']:before {content: url('./images/icons/tumblr.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='pinterest.com']:before {content: url('./images/icons/pinterest.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='quora.com']:before {content: url('./images/icons/quora.png'); margin-right: 2px; vertical-align: -3px;}
